<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="~{partials :: head}"/>
    <meta charset="UTF-8">
    <title>Create a Property listing</title>
</head>
<body>
<nav th:replace="~{partials :: navbar}"/>


<<div class="create-listings" >
    <h1 class="page-title">List the Property</h1>
    <form class="row g-3" th:action="@{/property/create}" method="post" th:object="${property}">
        <!--        Property Type-->
        <div class="col-md-3">
            <label for="propertyType" class="form-label" th:field="*{type}">Property Type</label>
            <select class="form-select" id="propertyType" name="type">
                <option selected disabled value="">Choose...</option>
                <option>Single Family</option>
                <option>Condo</option>
                <option>Apartment</option>
            </select>
        </div>
        <!--        Monthly Rent-->
        <div class="col-md-2">
            <label for="rent" class="form-label">Monthly Rent</label>
            <input type="text" class="form-control " id="rent" name="rent" th:field="*{rent}">
        </div>
        <!--        Sq Feet-->
        <div class="col-md-2">
            <label for="area" class="form-label">Square feet</label>
            <input type="text" class="form-control " id="area" name="area" th:field="*{area}">
        </div>
        <!--    Bedroom-->
        <div class="col-md-2">
            <label for="bedroom" class="form-label">Number of Bedrooms</label>
            <input type="text" class="form-control " id="bedroom" name="beds" th:field="*{beds}">
        </div>
        <!--    Bathroom-->
        <div class="col-md-2">
            <label for="bathroom" class="form-label">Number of Bathrooms</label>
            <input type="text" class="form-control " id="bathroom" name="bath" th:field="*{bath}">
        </div>
        <!--    Photo 1-->
        <div class="col-md-3">
            <label for="photo1" class="form-label">Photo 1</label>
            <input type="text" class="form-control" id="photo1" name="img1" th:field="*{img1}" >
        </div>
        <!--    Photo 2-->
        <div class="col-md-3">
            <label for="photo2" class="form-label">Photo 2</label>
            <input type="text" class="form-control" id="photo2" name="img2" th:field="*{img2}">
        </div>
        <!--    Photo 3-->
        <div class="col-md-3">
            <label for="photo3" class="form-label">Photo 3</label>
            <input type="text" class="form-control" id="photo3" name="img3"  th:field="*{img3}">
        </div>
        <!--    Photo 4-->
        <div class="col-md-3">
            <label for="photo4" class="form-label">Photo 4</label>
            <input type="text" class="form-control" id="photo4" name="img4" th:field="*{img4}">
        </div>
        <!--    Street address-->
        <div class="col-md-6">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="address" th:field="*{address}">
        </div>
        <!--    city-->
        <div class="col-md-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city"  th:field="*{city}">
        </div>
        <!--    state-->
        <div class="col-md-3">
            <label for="state" class="form-label" th:field="*{state}">State</label>
            <select class="form-select" id="state" name="state" >
                <option selected disabled value="">Choose...</option>
                <option>New York</option>
                <option>California</option>
                <option>Texas</option>
                <option>Washington</option>
                <option>New Jersey</option>
            </select>
        </div>
        <!--    Zipcode-->
        <div class="col-md-3">
            <label for="zipcode" class="form-label">Zip</label>
            <input type="text" class="form-control" id="zipcode" name="zip" th:field="*{zip}" maxlength="5" pattern="[0-9]{5}" title="Please enter a 5-digit ZIP code" required>
            <div class="invalid-feedback">
                Please provide a valid 5-digit ZIP code.
            </div>
        </div>
        <!--    pets-->
        <div class="col-md-3">
            <label for="pets" class="form-label" th:field="*{pets}">Pets</label>
            <select class="form-select" id="pets" name="pets" >
                <option selected disabled value="">Choose...</option>
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <!--    Description-->
        <div class="col-md-12">
            <label for="description">Description</label>
            <textarea class="form-control" rows="7" id="description" name="description"  th:field="*{description}"></textarea>
        </div>
        <!--    submit-->
        <div class="d-grid col-2 mx-auto">
            <button class="btn btn-secondary" name="submit" type="submit">Submit form</button>
        </div>
    </form>
</div>


<div th:replace="~{partials :: footer}"/>
</body>
</html>