<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="~{partials :: head}"/>
    <meta charset="UTF-8">
    <title>Create a Property listing</title>
</head>
<body>
<nav th:replace="~{partials :: navbar}"/>
<fieldset>
    <div class="create-listings">
        <h1>List the Property</h1>
        <form class="row g-3" th:action="@{/property/create}" method="post" th:object="${property}">
            <!--        Property Type-->
            <div class="col-md-3">
                <label for="propertyType" class="form-label" th:field="*{type}">Property Type</label>
                <select class="form-select" id="propertyType" name="type">
                    <option selected disabled value="">Choose...</option>
                    <option>Single Family</option>
                    <option>Condo</option>
                    <option>Apartment</option>
                </select>
            </div>
            <!--        Monthly Rent-->
            <div class="col-md-3">
                <label for="rent" class="form-label">Monthly Rent</label>
                <input type="text" class="form-control " id="rent" name="rent" th:field="*{rent}">
            </div>
            <!--        Sq Feet-->
            <div class="col-md-2">
                <label for="area" class="form-label">Square feet</label>
                <input type="text" class="form-control " id="area" name="area" th:field="*{area}">
            </div>
            <!--    Bedroom-->
            <div class="col-md-2">
                <label for="bedroom" class="form-label">Number of Bedrooms</label>
                <input type="text" class="form-control " id="bedroom" name="beds" th:field="*{beds}">
            </div>
            <!--    Bathroom-->
            <div class="col-md-2">
                <label for="bathroom" class="form-label">Number of Bathrooms</label>
                <input type="text" class="form-control " id="bathroom" name="bath" th:field="*{bath}">
            </div>

            <!--    Photo 1-->
            <div class=" d-grid col-md-3">
                <label for="img1" class="form-label">Photo 1</label>
                <button id="pickPhoto1" class="btn-photo btn-light ">UPLOAD PHOTO 1</button>
                <input type="hidden" id="img1" name="img1" th:field="*{img1}">
                <span id="uploadStatus1" class="upload-status"></span>
            </div>
            <div class=" d-grid col-md-3">
                <label for="img2" class="form-label">Photo 2</label>
                <button id="pickPhoto2" class="btn-photo btn-light">UPLOAD PHOTO 2</button>
                <input type="hidden" id="img2" name="img2" th:field="*{img2}">
                <span id="uploadStatus2" class="upload-status"></span>
            </div>
            <div class=" d-grid col-md-3">
                <label for="img3" class="form-label">Photo 3</label>
                <button id="pickPhoto3" class="btn-photo btn-light">UPLOAD PHOTO 3</button>
                <input type="hidden" id="img3" name="img3" th:field="*{img3}">
                <span id="uploadStatus3" class="upload-status"></span>
            </div>
            <div class=" d-grid col-md-3">
                <label for="img4" class="form-label">Photo 4</label>
                <button id="pickPhoto4" class="btn-photo btn-light">UPLOAD PHOTO 4</button>
                <input type="hidden" id="img4" name="img4" th:field="*{img4}">
                <span id="uploadStatus4" class="upload-status"></span>
            </div>

            <!--    Street address-->
            <div class="col-md-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address" th:field="*{address}">
            </div>
            <!--    city-->
            <div class="col-md-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" name="city"  th:field="*{city}">
            </div>
            <!--    state-->
            <div class="col-md-2">
                <label for="state" class="form-label" th:field="*{state}">State</label>
                <select class="form-select" id="state" name="state" >
                    <option selected disabled value="">Choose...</option>
                    <option>New York</option>
                    <option>California</option>
                    <option>Texas</option>
                    <option>Washington</option>
                    <option>New Jersey</option>
                </select>
            </div>
            <!--    Zipcode-->
            <div class="col-md-2">
                <label for="zipcode" class="form-label">Zip</label>
                <input type="text" class="form-control" id="zipcode" name="zip" th:field="*{zip}" maxlength="5" pattern="[0-9]{5}" title="Please enter a 5-digit ZIP code" required>
                <div class="invalid-feedback">
                    Please provide a valid 5-digit ZIP code.
                </div>
            </div>
            <!--    pets-->
            <div class="col-md-2">
                <label for="pets" class="form-label" th:field="*{pets}">Pets</label>
                <select class="form-select" id="pets" name="pets" >
                    <option selected disabled value="">Choose...</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <!--    Description-->
            <div class="col-md-12">
                <label for="description">Description</label>
                <textarea class="form-control" rows="7" id="description" name="description"  th:field="*{description}"></textarea>
            </div>
            <!--    submit-->
            <div class="d-grid col-2 mx-auto">
                <button class="btn btn-secondary" name="submit" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
</fieldset>
    <script>
        const client = filestack.init("[[${fileStackKey}]]");
        function updateUploadStatus(statusElement, message) {
            statusElement.textContent = message;
            statusElement.style.visibility = 'visible';
        }

        for (let i = 1; i <= 4; i++) {
            const pickPhotoButton = document.getElementById(`pickPhoto${i}`);
            const imgInput = document.getElementById(`img${i}`);
            const uploadStatus = document.getElementById(`uploadStatus${i}`);

            pickPhotoButton.addEventListener('click', function (event) {
                event.preventDefault();

                const options = {
                    onFileUploadFinished: (file) => {
                        console.log(file.url);

                        // Set the value of the corresponding hidden input field with the modified URL
                        imgInput.value = file.url;
                        updateUploadStatus(uploadStatus, 'Image uploaded successfully');
                    }
                }

                client.picker(options).open();
            });
        }
    </script>

<div th:replace="~{partials :: footer}"/>
</div>
</body>
</html>