<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="partials :: head"/>
    <meta charset="UTF-8">
    <title>Edit a Property Listing</title>
</head>
<body>
<nav th:replace="partials :: navbar"/>
<fieldset>

    <form th:action="@{/templates/property/{id}/edit(id=${property.id})}" th:method="post" th:object="${post}">
        Type:
        <input type="text" name="type"/><br/>
        Rent:
        <input type="number" name="rent"/><br/>
        Zip:
        <input type="number" name="zip"/><br/>
        Address:
        <input type="text" name="address"/><br/>
        City:
        <input type="text" name="city"/><br/>
        State:
        <input type="text" name="state"/><br/>
        Beds:
        <input type="number" name="beds"/><br/>
        Bath:
        <input type="number" name="bath"/><br/>
        Pets:
        <input type="text" name="pets"/><br/>
        Year:
        <input type="number" name="yr"/><br/>
        Latitude:
        <input type="text" name="latitude"/><br/>
        Longitude:
        <input type="text" name="longitude"/><br/>
    </form>
</fieldset>
<div th:replace="partials :: footer"/>
</body>
</html>