<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{'https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet'} "/>
    <head th:replace="partials :: head"/>
    <meta charset="UTF-8">
    <title>Filter listings</title>
</head>
<body>
<nav th:replace="partials :: navbar"/>

<div >
    <div class="search">
        <div class="mapSearch">
            <input type="text" id="zipcodeInput" name="keyword" placeholder="Enter City/State/Zip Code" class="searchBar">
            <button id="searchButton" type="button" class="searchButton">Search</button>
        </div>
        <form class="filter-form row g-3 " th:action="@{/filtered-properties}" method="post">
            <h2>Available Properties</h2>
            <div class="col-md-4">
                <input type="text" class="form-control " id="type" name="type" placeholder="Any Type">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control " id="propertyCities" name="city" placeholder="Any Cities">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control " id="beds" name="minBedrooms" placeholder="Any Bed">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control " id="bath" name="minBathrooms" placeholder="Any Bath">
            </div>

            <div class="col-md-4">
                <input type="text" class="form-control " id="priceMin" name="minPrice" placeholder="Price Min">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control " id="priceMax" name="maxPrice" placeholder="Price Max">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>

        </form>
    </div>


    <div class="content-container">

        <div id="map" class="map"></div>

        <div class="row properties">
            <p>Filtered Property Count: <span th:text="${#lists.size(filteredProperty)}"></span></p>

            <div class="card-content col-lg-6" th:each="property : ${filteredProperty}">
                <div class="card">
                    <a th:href="@{/property/{id}(id=${property.id})}"></a>
                    <img th:src="${property.img1}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">
                            <span th:text="${property.city}"></span>,
                            <span class="card-text" th:text="${property.state}"></span>
                        </h3>
                        <h5 class="card-text">$<span th:text="${property.rent}"></span></h5>
                        <p class="card-text">
                            <span th:text="${property.beds}"></span> bedrooms,
                            <span th:text="${property.bath}"></span> bathrooms
                        </p>
                        <a th:href="@{/property/show}" class="btn btn-primary">see more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js}"></script>
<script type="text/javascript" th:src="@{/js/keys.js}"></script>
<script type="text/javascript" th:src="@{/js/map.js}"></script>
<div th:replace="partials :: footer"/>
</body>
</html>