<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="~{partials :: head}">
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <title>All property listings</title>
    </head>
</head>
<body>
<nav th:replace="~{partials :: navbar}"/>

<div>
    <div class="search">
        <form class="filter-form row g-3 " th:action="@{/filtered-properties}" method="post">
            <h3>Available Properties</h3>
            <div class="col-md-4">
                <input type="text" class="form-control-filter " id="type" name="type" placeholder="Any Type">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control-filter " id="propertyCities" name="city" placeholder="Any Cities">
            </div>
            <!--            <div class="col-md-4">-->
            <!--                <input type="text" class="form-control-filter" id="zip" name="zip" placeholder="Zip Code" >-->
            <!--            </div>-->
            <div class="col-md-4">
                <input type="text" class="form-control-filter " id="beds" name="minBedrooms" placeholder="Any Bed">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control-filter" id="bath" name="minBathrooms" placeholder="Any Bath">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control-filter" id="priceMin" name="minPrice" placeholder="Price Min">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control-filter" id="priceMax" name="maxPrice" placeholder="Price Max">
            </div>
            <div class="col-md-4">
                <button class="btn btn-secondary" type="submit">Search</button>
            </div>
        </form>

    </div>

    <div class="content-container">
        <div id="map" class="map"></div>

        <div class="row properties">
            <div id="property-data" class="card-content col-lg-6" th:each="property : ${property}"
                 data-properties="${#strings.escapeJavaScript(#json.encode(property))}">
                <!--            <div class="card-content col-lg-6" th:each="property : ${property}">-->
                <div class="card">
                    <a th:href="@{/property/{id}(id=${property.id})}"></a>
                    <img th:src="${property.img1}" class="img-top" alt="..." height="200">
                    <div class="card-body">
                        <h4 class="card-address"
                            th:text="${property.address + ', ' + property.city + ', '+ property.state + ', ' + property.zip}">
                        </h4>
                        <h5 class="card-text">$<span th:text="${property.rent}"></span></h5>
                        <p class="card-text">
                            <span th:text="${property.beds}"></span> bedrooms,
                            <span th:text="${property.bath}"></span> bathrooms
                        </p>
                        <a th:href="@{/property/{id}(id=${property.id})}" class="btn btn-secondary">see more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js}"></script>
<script th:inline="javascript">const mapBoxKey = [[${mapBoxKey}]];
console.log(mapBoxKey);</script>
<script type="text/javascript" th:src="@{/js/map.js}"></script>
<div th:replace="~{partials :: footer}"/>

</body>
</html>