<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="partials :: head"/>
    <meta charset="UTF-8">
    <title>All property listings</title>
    <style>

    </style>
</head>
<body>
<nav th:replace="partials :: navbar"/>

<div th:each="property : ${property}" class="card">
    <a th:href="@{/property/{id}(id=${property.id})}">
    <p th:text="${property.type}"></p>
    <p th:text="${property.address}"></p>
    <p th:text="${property.state}"></p>
    <p th:text="${property.city}"></p>
    <p th:text="${property.zip}"></p>
    <p th:text="${property.rent}"></p>
    <p th:text="${property.beds}"></p>
    <p th:text="${property.bath}"></p>
    <p th:text="${property.pets}"></p>
    <p th:text="${property.year}"></p>
    <p th:text="${property.latitude}"></p>
    <p th:text="${property.longitude}"></p>
    </a>

</div>

<div th:replace="partials :: footer"/>
</body>
</html>