<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials :: head}"/>

</head>
<body>
<nav th:replace="~{partials :: navbar}"/>

<fieldset>
	<legend>Inquire about a property</legend>
	<form th:action="@{'/property/' + ${id} + '/inquiry'}" th:method="post">

		Start date:
		<input type="date" name="start_date"/><br/>
		End date:
		<input type="date" name="end_date"/><br/>
		People:
		<input type="number" name="people"/><br/>
		Pets:
		<input type="text" name="pets"/><br/>

		<input type="hidden" name="id" th:value="${id}"/>

		<input type="submit" value="Submit"/>
	</form>
</fieldset>

<div th:replace="~{partials :: footer}"/>
</body>
</html>