<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<head th:replace="~{partials :: head}"/>
	<meta charset="UTF-8">
</head>
<body>
<nav th:replace="~{partials :: navbar}"/>

<fieldset>

	<legend class="page-title">Submit a review</legend>
	<h3 class="page-title"
		th:text="${property.address + ', ' + property.city + ', ' + property.state + ', ' + property.zip}">
	</h3>

	<form th:action="@{'/property/' + ${id} + '/review'}" th:method="post">

		<div class="row d-flex">
			<div class="col-8 review-entry">
				Rating:
				<select class="form-select" name="rating" id="rating" style="width: 99%">
					<option value="">Select your rating</option>
					<option>1 (Horrendous)</option>
					<option>2 (Much to be desired)</option>
					<option>3 (Fair)</option>
					<option>4 (Met expectations)</option>
					<option>5 (Exceptional)</option>
				</select>
			</div>
			<div class="col-8 review-entry">
				Description:
				<textarea class="form-control" style="width: 99%" rows="7" id="description" name="description" ></textarea>
			</div>
		</div>

		<input type="submit" value="Submit" class="btn btn-secondary"/>
	</form>
</fieldset>


<div th:replace="~{partials :: footer}"/>
</body>
</html>
