<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <head th:replace="~{partials :: head}"/>
  <meta charset="UTF-8">
</head>
<body>
<nav th:replace="~{partials :: navbar}"/>

<fieldset>
  <legend>Submit a review</legend>

  <form th:action="@{'/property/' + ${id} + '/review'}" th:method="post">
    Rating:
    <input type="number" name="rating"/><br/>
    Description:
    <input type="text" name="description"/><br/>

    <input type="submit" value="Submit"/>
  </form>

</fieldset>


<div th:replace="~{partials :: footer}"/>
</body>
</html>