<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head th:replace="~{partials :: head}"/>

</head>
<body>
<nav th:replace="~{partials :: navbar}"/>

<fieldset>
  <legend>Submit a work order</legend>
  <form th:action="@{/property/workorder}" th:method="post">
    Description:
    <input type="text" name="description"/><br/>
    <input type="submit" value="Submit"/>
  </form>
</fieldset>

<div th:replace="~{partials :: footer}"/>
</body>
</html>