<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials :: head}"/>

</head>
<body>
<nav th:replace="~{partials :: navbar}"/>

<h1 class="page-header">Submit a Work Order</h1>

<div class="workOrder-body">

		<form th:action="@{/property/workorder}" th:method="post">

			<div class="workOrder-form">

				<h6>Date:</h6>
				<input type="date" name="date"/><br/>

				<h6>Description:</h6>
				<textarea class="form-control" rows="7" id="description" name="description" ></textarea>

				<div class="workOrder-submit-btn">
				<input type="submit" value="Submit" class="btn btn-secondary" />
				</div>

			</div>

		</form>

</div>

<div th:replace="~{partials :: footer}"/>
</body>
</html>