<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials :: head"/>
<meta charset="UTF-8">
<title>FAQ</title>
</head>
<body >
<nav th:replace="partials :: navbar"/>

<h1>Tenant FAQs</h1>

<div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item">
    <div class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Once I apply how long will it take for my rental application to be processed?
      </button>
    </div>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Applications take between 24 –72 hours to process. We run credit, criminal and rental history.  We verify employment and income.  Getting in touch with previous landlords and employers can take a couple of days.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        What is the cost of the application?
      </button>
    </div>
    <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        The application fee is $20 for every prospective applicant that is 18 years of age or older.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingThree">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        How many applications do you process?
      </button>
    </div>
    <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        KXZ Residentials operates on a first come first served basis when running applications. Only completed and paid applications will be processed.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingFour">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        How do I pay rent?
      </button>
    </div>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        As a convenience to our tenants and owners, rent is required to be paid online. Around the time of move-in you will receive an email inviting you to activate your Tenant Portal for payment.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingFive">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseOne">
        What fees are required for move-in?
      </button>
    </div>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Prorated rent from the day you move in, the security deposit, pet fees if applicable and the first month's rent if you are moving in during the last 7 days of the month. These must be paid online prior to receipt of keys for move-in.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingSix">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        When is rent due?
      </button>
    </div>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Rent is due on the first of the month. Any rent posted on or after the 3th of the month will be subject to a 10% of one month’s rent late fee plus $5.00 a day until rent is paid in full. Rent will be considered late even if you make a partial payment and fees will be calculated on the full rent amount not on the rent amount still owed. It is your responsibility to get your rent to us on or before the due-date. If you know you will be unable to pay rent on time, let us know. We always try to work with our tenants in these matters, but if no word is received from you in advance, you may receive legal notices as well as late fees (refer to your lease for late fee information).
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingSeven">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Do I need renters insurance?
      </button>
    </div>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       KXZ Renidentials hat tenants carry renter’s insurance. Landlord is not liable for any loss to tenant's personal property due to fire, theft, water damage, or any other act of nature. Throughout the term of this lease and any renewal term(s), Tenant shall maintain renter’s property and liability insurance with a minimum limit of $100,000.00. Tenant's renter’s insurance policy shall name Landlord as an additional insured. At any time during this lease Landlord may request, and Tenant shall provide, proof of the required insurance prior to move in.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingEight">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        I want to get a pet. What do I do?
      </button>
    </div>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        We are a pet-friendly company. Pets are assessed and allowed on a case-by-case basis, usually with a non-refundable pet deposit. If you are considering getting a pet please check with us first.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingNine">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        I want to move out, but my roommate wants to stay. What do I do?
      </button>
    </div>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        All partied need to inform us of their move-out, in order to allow us to remove their name from the lease. Any new roommate must go through the same approval process as the original person. (However, this does not mean that roommates will be added to the lease, nor granted rights to tenancy as provided by Rent Stabilization Ordinances.) Security deposit refund upon the move-out of a single roommate will be due that roommate from the person remaining in the unit, or the new roommate.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingTen">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
        I'm in the military and I'm being transferred or deployed?
      </button>
    </div>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Under paragraph 23 of the TAA Lease Contract, the owner is required to allow you to move out early under certain circumstances. You may terminate your lease contract if you enlist or are drafted or commissioned into active service in the U.S. Armed Forces or are a member of the Armed Forces or reserves called to active duty AND are either:

        given change-of-station orders to permanently depart the local area;
        deployed with a military unit or as an individual in support of a military unit for 90 days or more; or
        relieved or released from active duty.

        When a member of the Armed Forces terminates a lease under paragraph 23, the termination automatically terminates the lease for any spouse or dependent who may have signed it. If, at the time of signing a lease, you already knew about the change of duty station or retirement or knew that your term of enlistment would expire prior to the end of your lease term and if you failed to inform the owner of such facts prior to signing, you are liable to the owner for liquidated damages in the amount of all rent losses that the owner may incur during the remainder of the original lease term, even though you have terminated the lease under paragraph 23.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingEleven">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
        How do I request a normal, non-urgent maintenance item?
      </button>
    </div>
    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        For normal, non-urgent maintenance requests please log into your Tenant Portal and click on New Maintenance Request. Please describe the problem with as much detail as possible. For appliance issues, a make and model number will be helpful. This will help your property manager hire the right vendor for the job. Once submitted, a Work Order is emailed to your property manager and they should contact you within 24 hours. The law requires that most repairs be started within 7 days. However we will work diligently to get them done as soon as possible.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingTwelve">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
        What happens in case of an emergency maintenance situation?
      </button>
    </div>
    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        For police or fire emergencies, please call 911, and then call your property manager to report the incident. Our after-hours emergency number is 347-325-3233. If there is no answer please leave a message. Someone will respond as soon as possible. Urgent maintenance items includes, but not limited to, sewer backups, a broken water pipe anywhere on the property, a break-in causing an unsecured front door, or major roof leaks with water leaking into the home. If the issue happens between 9:00 am and 5:00 pm you should the office. A maintenance request should also be submitted.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingThirteen">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
        What happens if I need to move before the end of my lease?
      </button>
    </div>
    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        If you vacate the property before the expiration of the lease term, you will be obligated under the terms of the lease for the rental payments for the remainder of the term or until the property has been re-rented, whichever is less. Tenants shall also pay any rental costs incurred by the Landlord including but not limited to utility charges, advertising costs, statutory costs and any leasing fees sustained by the Landlord. We will work diligently to lease the property as soon as possible and keep your expenses low .
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingFourteen">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
        Can I be charged for maintenance on the property?
      </button>
    </div>
    <div id="collapseFourteen" class="accordion-collapse collapse " aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Yes. If property damage is caused by tenant neglect or improper use, we are required to charge for the maintenance service. Any broken windows or clogged plumbing will also be repaired at tenant’s expense. Please refer to your lease for more specific items not covered by the Landlord.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingFifteen">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
        When can I expect to receive my Security Deposit after my lease ends?
      </button>
    </div>
    <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        After termination of the lease agreement, your manager will do a thorough inspection of your property. They will then send you a check or electronic deposit and a statement notifying you of any charges deducted from the deposit. This will be sent out within 30 days from your move out date.
      </div>
    </div>
  </div>
  </div>


</div>

<div th:replace="partials :: footer"/>
</body>
</html>