<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials :: head}"/>
<meta charset="UTF-8" />
<title>Sign up</title>
</head>
<body>
<nav th:replace="~{partials :: navbar}"/>
<h1>Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">

<div class="row">

	<div class="col-6">

		<label for="username">Username</label>
		<input id="username" th:field="*{username}" />

		<label for="firstname">First name</label>
		<input id="firstname" th:field="*{firstname}" />

		<label for="lastname">Last name</label>
		<input id="lastname" th:field="*{lastname}" />

	</div>

	<div class="col-6">
		<label for="email">Email</label>
		<input id="email" th:field="*{email}" />

		<label for="number">Number</label>
		<input id="number" th:field="*{number}" />

		<label for="password">Password</label>
		<input id="password" type="password" th:field="*{password}" />
	</div>
</div>

	<input value="Sign me up!" type="submit" id="signupbutton"/>

</form>

<div th:replace="~{partials :: footer}"/>
</body>
</html>