:root{
    --background--color: #747aa1;
    --nav--color: #473e60;
    --primary-color: #f2f0ff;
    --secondary-color: #acb1d5;
}

@media (max-width: 500px) {
    .navbar{
        height: 100px;
    }
    .navbar-brand{
        display: none;
    }
}

@media (min-width: 501px) and (max-width: 767px) {
    .navbar{
        height: 100px;
    }
    .navbar-brand{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 859px) {
    .navbar{
        height: 100px;
    }
    .navbar-brand{
        display: none;
    }
}

@media (min-width: 860px) and (max-width: 991px) {
    .navbar{
        height: 100px;
    }
    .navbar-brand{
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar{
        height: 30px;
    }
    .navbar-brand{
        display: block;
    }

}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', serif;
    color: var(--primary-color);
    font-size: 18px;
}

body{
    background-color: var(--background--color);
}

#map{
    width: 45%;
    height: 60vh;
    position: sticky;
    top: 10px;
    left: 30px;
    right: 30px;
    border: 3px
    px
    solid var(--background--color);
    margin: 15px;
}

a{
    color: var(--primary-color);
}
h2{
    text-align: center;
    margin: 50px ;
}
.home-body{
    margin: 0 5%;
}
.about-body{
    margin: 0 5%;
}
.login-body{
    margin: 0 5%;
}

.page-body{
    margin: 0 5%;
    background-color: var(--secondary-color);
    border-radius: 5% 5% 0 0;
}
.page-header{
    color: var(--primary-color);
    text-align: end;
    margin: 0 13% 1% 0;
    border-bottom: 3px solid var(--nav--color);
}

    /* navbar */
.navbar{
    background-color: var(--nav--color);
    color: var(--primary-color);
    width: 100%;
    margin-bottom: 75px;
}
.navbar-collapse{
    justify-content: end;
}

.nav-link{
    background-color: var(--nav--color);
    color: var(--primary-color);
    padding: 0;
}
.nav-link:focus, .nav-link:hover, .nav-link-drop:hover {
    color: #ffc107;
}
.nav-link-drop{
    display: block;
    text-align: end;
    text-decoration: none;
    color: #ffc107;
    margin-right: 15px;
}
.nav-link-drop:hover{

}
.nav-item{
    margin: 0 10px;
}

.navbar-brand{
    margin-left: 15px;
    margin-top: 90px;
}

.navbar-toggler{
    background-color: var(--primary-color);
    margin-left: 15px;
}

.row{
    justify-content: space-around;
    background-color: var(--nav--color);
    border-radius: 25px 25px 0px 0px;
    margin: 0;
}

.dropdown-menu-end{
    border-radius: 25px 3px;
    background-color: var(--nav--color);
    border: none;
    padding: 10px;
}
.dropdown-menu[data-bs-popper] {
    margin: 0;
}

.dropdown-item{
    color: var(--nav--color);
    background-color: var(--primary-color);
}

.login-page{
    text-align: center;
    display: block;
}
#username{

}
#password{

}
#login-btn{

}
#login-signup{

}

.login-form{
    background-color: var(--background--color);
    color: var(--primary-color);
    border-radius: 20px 3px;
}

#login-enter{
    margin: 15px 50px 5px;
    width: 125px;
}
.login-entry{
    margin: 0 15px;
}
.logout-btn-modal{
    margin: 15px auto;
}
.modal-content-logout{
    background-color: var(--background--color);
    text-align: center;
    margin-top: 45%;
    padding: 10px;
    border-radius: 25px 10px;
    border: 10px solid var(--nav--color);
}
.modal-content-login{
    background-color: var(--background--color);
    text-align: center;
    width: 100%;
    margin-top: 45%;
    padding: 10px;
    border-radius: 25px 10px;
    border: 10px solid var(--nav--color);
}
.modal-content-login-btn{
    margin: 5px;

}
.modal-content-login-signup{
    margin: 5px;

}
.modal-content-login-text{
    margin: 5px;
}
#modal-content-p{
    margin-top: 15px;
}


#signup-link{
    margin: 0 15%;
}
.btn{
    color: var(--primary-color);
    background-color: var(--nav--color);
    height: 30px;
    width: 120px;
    padding: 0;
    border: 1px solid var(--primary-color);
}
.btn:hover{
    background-color: var(--secondary-color);
    color: var(--nav--color);
}

.creator-card{
    margin: 10px;
    background-color: var(--nav--color);
    padding: 0;
    text-align: center;
    border: none;
}

.creator-image{
    padding: 5px;
}

.social-icons{
    margin-bottom: 15px;
}

.contact-icon{
    margin: 20px;
}

.loop-video{
    width: 100%;
    margin-top: 1%;
}

#github-repo{
    bottom: 0;
    left: 0;
    margin: 0 5px;
}

.search-entry{
    margin: 1%;
    width: 14%;
    height: 1%;
    color: black;
    text-align: center;
}

#search-button{
    float: right;
    background-color: var(--nav--color);
    padding: 20px 35px 35px 35px;
    margin: -1px 0 15px 15px;
    border-radius: 0 0 25px 25px;
}

.nav-item.dropdown a.nav-link-drop:hover {
    cursor: pointer;
}

.nav-item a.nav-link[data-bs-toggle="modal"][data-bs-target="#logoutModal"]:hover {
    cursor: pointer;
}
