:root{
    --background--color: #747aa1;
    --nav--color: #473e60;
    --primary-color: #f2f0ff;
    --secondary-color: #b9e28c;
}

@media (max-width: 500px) {
    .navbar{
        height: 100px;
    }
    .navbar-brand{
        display: none;
    }
}

@media (min-width: 501px) and (max-width: 767px) {
    .navbar{
        height: 100px;
    }
    .navbar-brand{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 859px) {
    .navbar{
        height: 100px;
    }
    .navbar-brand{
        display: none;
    }
}

@media (min-width: 860px) and (max-width: 991px) {
    .navbar{
        height: 100px;
    }
    .navbar-brand{
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar{
        height: 30px;
    }
    .navbar-brand{
        display: block;
    }

}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', serif;
    color: var(--primary-color);
    font-size: 18px;
}

body{
    background-color: var(--background--color);
}

#map{
    width: 40%;
}

a{
    color: var(--primary-color);
}
h2{
    text-align: center;
    margin: 50px ;
}

.page-body{
    margin: 0 5%;
}
.page-header{
    text-align: end;
    margin:0 15% 2% 0;
}



    /* navbar */
.navbar{
    background-color: var(--nav--color);
    color: var(--primary-color);
    width: 100%;
    margin-bottom: 75px;
}
.navbar-collapse{
    justify-content: end;
}

.nav-link{
    background-color: var(--nav--color);
    color: var(--primary-color);
    padding: 0;
}
.nav-link:focus, .nav-link:hover, .nav-link-drop:hover {
    color: #ffc107;
}
.nav-link-drop{
    display: block;
    text-align: center;
    text-decoration: none;
}
.nav-link-drop:hover{

}
.nav-item{
    margin: 0 10px;
}

.navbar-brand{
    margin-left: 15px;
    margin-top: 90px;
}

.navbar-toggler{
    background-color: var(--primary-color);
    margin-left: 15px;
}
.dropdown-menu-end{
    border-radius: 25% 10%;
    background-color: var(--nav--color);
}
.dropdown-item{
    color: var(--nav--color);
    background-color: var(--primary-color);
}

.login-form{
    background-color: var(--background--color);
    color: var(--primary-color);
    border-radius: 25% 10%;
}

#login-enter{
    margin: 15px 50px 5px;
    width: 125px;
}
.login-entry{
    margin: 0 15px;
}

#signup-link{
    margin: 0 15%;
}
.btn{
    color: var(--primary-color);
    background-color: var(--nav--color);
    height: 30px;
    width: 120px;
    padding: 0;
    border: 1px solid var(--primary-color);
}

.creator-card{
    margin: 10px;
    background-color: var(--nav--color);
    padding: 0;
    text-align: center;
    border: none;
}

.creator-image{
    padding: 5px;
}

.social-icons{
    margin-bottom: 15px;
}

.contact-icon{
    margin: 20px;
}

.loop-video{
    width: 100%;
    margin-top: 1%;
}

#github-repo{
    bottom: 0;
    left: 0;
    margin: 0 5px;
}