<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials :: head}"/>
<meta charset="UTF-8">
<title>About</title>
</head>
<body>
<nav th:replace="~{partials :: navbar}"/>
<div class="about">

</div>
    <div class="container">
        <div class="row">

            <div class="card col"  style="width: 700px; height: 650px">
                <img th:src="@{img/Xavier.jpeg}" class="card-img-top" alt="..."  >
                <h3>Xavier Medina</h3>
                <h6>Back End Development</h6>
                <div class="footer-icons">
                    <ul class="social-media-list">

                        <a href="https://github.com/xavimedi" target="_blank" class="contact-icon">
                            <li>
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </li>
                        </a>

                        <a href="https://www.linkedin.com/in/xaviergmedina/" target="_blank" class="contact-icon">
                            <li>
                                <i class="bi bi-linkedin" aria-hidden="true"></i>
                            </li>
                        </a>

                    </ul>
                </div>
            </div>

            <div class="card col" style="width: 700px; height: 650px">
                <img th:src="@{img/khinememe.JPG}" class="card-img-top" alt="...">
                <h3>Khinememe Kyaw</h3>
                <h6>Front End Development</h6>
                <div class="footer-icons">
                    <ul class="social-media-list">

                        <a href="https://github.com/Khinememe-Kyaw" target="_blank" class="contact-icon">
                            <li>
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </li>
                        </a>

                        <a href="https://www.linkedin.com/in/khinememe-kyaw/" target="_blank" class="contact-icon">
                            <li>
                                <i class="bi bi-linkedin" aria-hidden="true"></i>
                            </li>
                        </a>

                    </ul>
                </div>
            </div>

            <div class="card col" style="width: 700px; height: 650px">
                <img th:src="@{img/Zackary_Hughes.png}" class="card-img-top" alt="..." >
                <h3>Zackary Hughes</h3>
                <h6>Full Stack Development</h6>
                    <div class="footer-icons">
                        <ul class="social-media-list">

                            <a href="https://github.com/ZackaryKHughes" target="_blank" class="contact-icon">
                                <li>
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </li>
                            </a>

                            <a href="https://www.linkedin.com/in/zackary-hughes/" target="_blank" class="contact-icon">
                                <li>
                                    <i class="bi bi-linkedin" aria-hidden="true"></i>
                                </li>
                            </a>

                        </ul>
                    </div>
            </div>

        </div>
    </div>
<div class="about-us">
    <h2>About Us</h2>
    <h3>Welcome to KXZ Residentials, your trusted partner in property management!</h3>

    <h5>Our Mission</h5>
    <p>At KXZ Residentials, our mission is to provide exceptional property management services that enhance the value and performance of our clients' real estate investments. We strive to simplify property ownership, streamline operations, and create positive living experiences for tenants.</p>

    <h5>Who We Are</h5>
    <p>We are a dedicated team of property management professionals with a passion for excellence. Our team brings a wealth of experience in real estate, finance, maintenance, and tenant relations. We understand the complexities of property management and are committed to delivering top-notch solutions tailored to each property's unique needs.</p>

    <h5>Our Services</h5>
    <p>Rental Property Management:We specialize in managing a wide range of residential and commercial properties, ensuring optimal occupancy rates, rent collection, and property maintenance.
        Tenant Relations: We prioritize strong tenant relationships, ensuring prompt communication, dispute resolution, and tenant satisfaction.
        Maintenance and Repairs: Our team coordinates regular maintenance and repairs, responding swiftly to ensure properties are well-maintained and in excellent condition.</p>

    <h5>Why Choose Us?</h5>
    <p> Expertise: Our team has in-depth knowledge of the property management industry, enabling us to navigate challenges effectively.
        Client-Centric Approach:We value our clients' goals and work collaboratively to achieve them, tailoring our services to meet their specific needs.
        Technology Integration: We leverage cutting-edge property management software to provide transparent and efficient services to property owners and tenants.
        Local Expertise: With our deep understanding of the local real estate market, we're equipped to make informed decisions that benefit our clients. </p>

    <h5>Our Commitment</h5>
    <p>At KXZ Residentials, we are committed to upholding the highest standards of professionalism, integrity, and transparency. We view every property as an opportunity to create value and contribute positively to the communities we serve.
        Thank you for considering KXZ Residentials as your property management partner. We look forward to the opportunity to serve you and help you achieve your property management goals.
        For inquiries and more information, feel free to contact us at kxz.residentials@gmail.com.</p>
</div>


<div th:replace="~{partials :: footer}"/>
</body>
</html>

