<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{partials :: head}"></head>
<meta charset="UTF-8" />
<title>Welcome back!</title>
</head>
<body>
<nav th:replace="~{partials :: navbar}"></nav>

<h1>Welcome back!</h1>



<form th:action="@{/login}" method="post">
	<div class="row">
		<div class="col-8">
			<div th:if="${param.error}">
				Invalid Username and Password.
			</div>

			<div th:if="${param.logout}">
				You have been logged out.
			</div>

			<label for="username" class="text-entry" >Username</label>
			<input id="username" name="username" type="text" />
		</div>

		<div class="col-8">
			<label for="password" class="text-entry" >Password</label>
			<input id="password" name="password" type="password" />
		</div>
	</div>

	<input type="submit" value="Enter" class="signupbutton"/>
	<a th:href="@{/sign-up}" class="signupbutton">New User? Sign up!</a>
</form>

<div th:replace="~{partials :: footer}"/>
</body>
</html>