<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{partials :: head}"></head>
<meta charset="UTF-8" />
<title>Welcome back!</title>
</head>

<body>
<nav th:replace="~{partials :: navbar}"></nav>

<h1 class="page-header">Welcome back!</h1>

<!-- test -->
<div class="login-body">
	<form th:action="@{/login}" th:method="post">
		<div class="login-page">
			<div>
				<div th:if="${param.error}">
					Invalid Username and Password.
				</div>

				<div th:if="${param.logout}">
					You have been logged out.
				</div>

				<label for="username" class="text-entry"></label>
				<input id="username" name="username" placeholder="Username" type="text"/>
			</div>

			<div>
				<label for="password" class="text-entry"></label>
				<input id="password" name="password" placeholder="Password" type="password"/>
			</div>

			<div>
			<input type="submit" id="login-btn" value="Enter" class="btn btn-secondary"/>
			</div>

			<div>
			<a th:href="@{/sign-up}" id="login-signup" >New User? Sign up!</a>
			</div>

		</div>

	</form>
</div>

<div th:replace="~{partials :: footer}"/>
</body>
</html>