<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials :: head}"/>
<meta charset="UTF-8">
<title>Owner Portfolio</title>
</head>
<body>
<nav th:replace="~{partials :: navbar}"/>

<h1>Owner Portfolio</h1>
<div class="portfolio">
<table>
    <thead>
    <tr>
        <th>Address</th>
        <th>Bathrooms</th>
        <th>Bedrooms</th>
        <th>City</th>
        <th>Pets Allowed</th>
        <th>Rent</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="property : ${ownerProperties}">
        <td><a th:href="@{/property/{id}/detail(id=${property.id})}"><p th:text="${property.address}"></p></a></td>
        <td th:text="${property.bath}"></td>
        <td th:text="${property.beds}"></td>
        <td th:text="${property.city}"></td>
        <td th:text="${property.pets}"></td>
        <td th:text="${property.rent}"></td>
        <td th:text="${property.type}"></td>
    </tr>
    </tbody>
</table>
</div>
<div th:replace="~{partials :: footer}"></div>

</body>
</html>